/.DS_Store
/.idea/
/.vscode/
/.firecrawl/
/DerivedData/
/assets/
/build/
/logs/
/localizations/
/ios/MinionRush/Assets.xcassets/AppIcon.appiconset/AppIcon.png
*.dSYM/
*.ipa
*.pyc
*.xcarchive/
*.xcuserstate
*~
__MACOSX/
__pycache__/
xcuserdata/
